<h1><%= @user.user_name %></h1>
<h1><%= @user.full_name %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.age %></h1>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br> 
<br>
<br>
<%= link_to "View All Users", users_path %>
<br>
<br>
<%= link_to "View All Players", players_path %>





<h2> Search for players by last name below! </h2>
<%= form_tag(players_path) do %>
Player <%= text_field_tag :lastName %>
<%= submit_tag "search " %>
<% end %>






