<h1><%= @user.user_name %></h1>
<h1><%= @user.full_name %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.age %></h1>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br> 
<%= button_to "Delete User", user_path(@user), method: :delete %>
<br>
<br>
<%= link_to "View All Users", users_path %>
<br>
<br>
<%= link_to "View All Players", players_path %>
<br>
<br>
<h2> Search for players by last name below! </h2>
<%= form_tag players_path, method: :get do %>
Player <%= text_field_tag :query, params[:query] %>
<%= submit_tag "search " %>
<% end %>
<br>
<br>
<br>


<h1><%= "#{@user.user_name}'s Favorite Players"%></h1>
<% @user.favorites.each do |favorite| %>
<% favorite_name = "#{favorite.player.firstName} #{favorite.player.lastName}" %>
    <li><%= link_to favorite_name, player_path(favorite) %>
        <%= button_to "Delete Player", "/favorites/#{favorite.id}", method: :delete %>
    </li>
<%end%>









