<h1><%= @user.user_name %></h1>
<h1><%= @user.full_name %></h1>
<h1><%= @user.email %></h1>
<h1><%= @user.age %></h1>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br> 
<%= button_to "Delete User", user_path(@user), method: :delete %>
<br>
<br>
<%= link_to "View All Users", users_path %>
<br>
<br>
<%= link_to "View All Players", players_path %>
<br>
<br>
<h2> Search for players by last name below! </h2>
<%= form_tag players_path, method: :get do %>
Player <%= text_field_tag :query, params[:query] %>
<%= submit_tag "search " %>
<% end %>
<br>
<br>
<br>
<%= link_to "Favorite a player", new_favorite_path %>

<h1><%= "#{@user.user_name}'s Favorite Players"%></h1>
<% if @user.favorites.length > 0  %>
<% playerfavs = {} %>
    <% @user.favorites.each do |fav| %>
        <% playerfavs[fav.player_id] = fav.player.firstName + " " + fav.player.lastName %>
    <% end %>
    <% playerfavs.each do |key, value| %>
    <%= link_to value, player_path %><br>
    <%# <%= button_to "Delete Favorite", favorite_path(:id => favorite.id]), method: :delete %><br>
    <% end %>
<% else %>
    <%= "You have no favorite players" %>
<% end %>







