<h2><%= @user.user_name %></h2>
<h2><%= @user.full_name %></h2>
<h2><%= @user.email %></h2>
<h2><%= @user.age %></h2>
<br>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<br>
<br>
<%= link_to "View All Users", users_path %>
<br>
<br>
<%= link_to "View All Players", players_path %>





<h2> Search for players by last name below! </h2>
<%= form_tag players_path, method: :get do %>
Player <%= text_field_tag :query, params[:query] %>
<%= submit_tag "search " %>
<% end %>







